@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Radioland;
    src: url(../import/RADIOLAND.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    overflow: hidden !important;
    transition: .5s ease-in-out;
    background: #030303;
}
.container {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:url(../images/pexels-pixabay-371589.jpg);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* width: 100% !important; */
    /* color: #030303 !important; */
    /* display: none; */
}
.background{
     background: url(../images/pexels-pixabay-60597.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
    color: #030303;
}

.white{
    color: white !important;
}

.timercolor {
    /* background: linear-gradient(to right, black, grey); */
    background: #030303;
    color: aqua;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* filter: invert(1); */
    font-size: xx-large;
}

#clock,
h1 {
    font-family: Radioland;
    /* font-size: 3rem; */
}
